.projectImage {
  max-width: 100%;
}

.project {
  border: 1px solid black;
  position: relative;
  height: 290px;
  overflow: hidden;
}

.project:hover .project-description{
    opacity: 0.9;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -10;
}
.project-description {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: all 300ms;
}
